@{
    ViewData["Title"] = "Home Page";
}

<form method="post" action="Home/OnPost_SendingContentStringNotInUrl">
    <input type="text" name="input"/>
    <br />
    <button type="submit">click</button>
</form>
