
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>OnPost_SendingContentStringNotInUrl</title>
</head>
<body>
    <p>@ViewBag.Message</p>
</body>
</html>
